.constraint-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1% 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 9px;
  color: #000000;
}
/* END Header section*/