.review-content-reinsurer {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: calc(100% - 60px);
	width: 100%;
	background: #ffffff;
	/* grayscale / divider */

	border: 1px solid #dfe0eb;
	box-sizing: border-box;
	border-radius: 8px;
	flex-wrap: wrap;
	flex-direction: column;
	overflow-x: auto;

	.review-display {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow-y: auto;

		.review-informations {
			display: flex;
			flex-flow: column;
			width: 96%;
			height: 100%;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
}

/* END Header section*/
