.quotation-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  margin: 1% 0;

  :hover {
    background: #e0e0e0;
    cursor: pointer;
  }

  .item-option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 1;

    .flex {
      .menu {
        background: #ffffff;
        border-radius: 8px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 300px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
      }

      .menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .menu li {
        border-bottom: 1px solid #dddddd;
      }

      .menu li a {
        text-decoration: none;
        color: #333333;
        padding: 8px 10px;
        display: block;
      }
      span {

        display: flex;
        padding: 8px 10px;
      }

    }
  }

  .quotation-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    letter-spacing: 0.3px;

    .badge-left {

    }

    .badge-right {
      color: #29CC97;
    }
  }

  .quotation-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60%;
    background: #C4C4C4;
    border-radius: 5px;
    //text design

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.3px;
    color: #000000;

    .quotation-proportion {
      position: absolute;
      // width: 45%;
      height: 100%;
      background: #367BF5;
      border-radius: 5px;
    }

    .quotation-percent {
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      // z-index: 1;
    }
  }
}
