.dd-wrapper {
  position: relative;
  width: 222px;
  font-size: 1.6rem;
  user-select: none;

  .dd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    width: 100% ;

    position: relative;
    line-height: 38px;

    box-shadow: 0 1px 3px #0000004d;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto;

    .dd-header-title {
      padding: 2px 10px;
      width: 90%;
      font-weight: 300;
    }

    span {
      display: flex;
      width: 10%;
    }
  }


  .angle-down {
    margin-right: 20px;
    color: black;
  }

  .dd-list {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 215px;
    // border: 1px solid rgb(223, 223, 223);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
    background-color: white;
    font-weight: 700;
    text-align: left;
    -webkit-overflow-scrolling: touch;
    margin: 2% 0;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;


    .dd-scroll-list {
      overflow-y: scroll;
      max-height: 215px;
      padding: 2% 0;

      .dd-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        // color: #1A1A1A;
        background-color: #ffffff4f;
        width: 90%;
        padding: 5% 5%;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        border-bottom: 1px solid #dddddd;

        img {
          border-radius: 90px;
          width: 20%;
        }
        .item-title{
          display: flex;
          justify-content: flex-start;
          width: 60%;
          margin: 0 5%;
          height: 100%;
        }
        .item-check {
          width: 10%;
          height: 100%;
        }

        &.no-result {
          font-weight: normal;
          cursor: default;

          &:hover {
            background-color: transparent;
            color: black;
          }
        }

        &:hover {
          color: #1A1A1A;
          background-color: #ffffff4f;
          color: gray;

          & > span > svg > path {
            fill: white;
          }
        }
      }
    }

    .dd-list-search-bar {
      background: #FFFFFF;
      // border: 1px solid #949494;
      box-sizing: border-box;
      border-radius: 4px;
      height: 30px;
      width: 100%;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: #CACACA;
      padding: 3% 3%;

      &::placeholder {
        color: rgb(200, 200, 200);
      }
    }

    &.searchable {
      overflow-y: hidden;
      padding: 0;

      .dd-scroll-list {
        max-height: calc(215px - 40px);
        padding: 2% 0;
      }
    }
  }
}