.add-quotation-content {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	// align-items: center;
	//height: calc(100% - 60px);
	height: calc(100% - 60px);
	width: 100%;
	background: #ffffff;
	/* grayscale / divider */
	border: 1px solid #dfe0eb;
	box-sizing: border-box;
	border-radius: 8px;
	overflow-y: scroll;
}
.action-row {
	width: 100%;
	display: flex;
	justify-content: flex-end;

	.save-action-content {
		// position: absolute;
		left: 38%;
		bottom: 0%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		flex-flow: column;
		width: 23%;
		.quoter-title {
			height: 2%;
		}

		.save-action-button {
		// .action-button {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 57px;
			width: 100%;
			// width: 57px;
			background: #ffffff;
			/* Shadow Blue · 16dp */
			box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16),
				0px 6px 12px rgba(54, 123, 245, 0.16);
			border-radius: 99px;
			border: none;
			color: #367bf5;
			margin: 5px;
			outline: none;
		}
    
		.save-action-button:hover {
		// .action-button:hover {
			cursor: pointer;
			background-color: #357bf5;
			color: white;
			transition-duration: 0.5s;
		}
    
		.save-action-button:active {
		// .action-button:active {
			cursor: pointer;
			background-color: #7aa9fc;
			color: white;
			transition-duration: 0.3s;
		}
	}
}

/* END Header section*/
