.quotation-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	h4 {
		text-align: left;
		margin-top: 1%;
	}
	.quotation-list {
		width: 100%;
		display: flex;
		flex-direction: column;

		.layer-name {
			width: 100%;
			list-style-type: none;
			padding: inherit;
			display: flex;
			margin-top: 1%;

			.layer {
				display: flex;
				width: 100%;
				.layer-container {
					// border: 2px red solid;
					width: 6%;
					text-align: left;
				}
			}
			ul {
				list-style-type: none;
				padding: inherit;
				// border: red 2px solid;
				width: 100%;

				margin-left: 1%;
				li {
					padding: inherit;
					text-align: left;
					margin: 0px;
					// border: red 2px solid;
					width: 100%;
					.text-container {
						// border: red 2px solid;
						// width: 50%;
						display: flex;
						padding-bottom: 1%;
						.share-container {
							width: 8%;
						}

						// justify-content: space-between;
					}
				}
			}
		}
	}
}
