.allocation-layer-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 31%;
  min-height: 100%;
  padding: 0 1%;
  border-right: 1px solid #DFE0EB;
}