.placement-display {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  //height: 100%;
  height: calc(100% - 215px);
  width: 100%;
  overflow-y: auto;
}

.placement-content {
  position: relative;
  display: flex;
  min-height: 500px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - 60px);
  // height: calc(100% - 60px);
  width: 100%;

  background: #FFFFFF;
  /* grayscale / divider */

  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
}


/*Header section*/
.placement-header {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  .placement-action {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 2px;

    /*data format*/
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 143% */

    text-align: right;
    letter-spacing: 0.2px;

    .placement-action-title {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.4px;

      /* grayscale / black */

      color: #252733;
    }

    .placement-action-button {
      display: flex;

      justify-content: center;
      align-items: center;

      span {
        margin: 0 15px;
      }
    }

  }


  .placement-head {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.1fr;
    height: 50px;
    border-bottom: 1.5px solid #DFE0EB;;

    width: 95%;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #DFE0EB;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.2px;
    /* grayscale / gray */
    color: #9FA2B4;
    :first-child {
      display: flex;
    }
  }

}



/* END Header section*/